<!DOCTYPE html>
<html>
<head>
  <title>FakeProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'kendo.common.min', media: 'all' %>
  <%= stylesheet_link_tag    'kendo.default.min', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery-3.2.1.min' %>
  <%= javascript_include_tag 'kendo.all.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
